/*! ===================================
 *  Author: BBDesign & WPHunters
 *  -----------------------------------
 *  Email(support):
 * 	bbdesign_sp@yahoo.com
 *  ===================================
 */

@import url('entypo.css');
@import url('font-awesome.css');
@import url('highlight.css');
/*
 * Base Settings
 * --------------------------------------------------
 */

body,
html {
    background: #f7f7f7;
    font-size: 16px;
    color: #333;
}
#main-container {
    padding: 50px 7.5px;
}
.jumbotron {
    background: #fff url('http://s3.micp.ru/dNM3L.jpg') right center no-repeat;
}
.jumbotron h1 {
    font-size: 45px;
}
.jumbotron h1 small {
    font-weight: normal;
    font-size: 50%;
}
@media (max-width: 481px) {
    #main-container {
        padding: 25px 7.5px;
    }
}
@media (max-width: 992px) {
    .jumbotron {
        background: #fff;
    }
}
ol li {
    margin-bottom: 15px;
}
/*
 * Headings
 * --------------------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px 0;
}
h4 {
    font-size: 120%;
}
/*
 * Tables
 * --------------------------------------------------
 */

.table {
    margin: 15px 0;
}
h4 + .table {
    margin-top: 0
}
h4 + .table-responsive > .table {
    margin-top: 0;
}
.table.nolines td {
    border: 0;
    padding-left: 0;
}
/*
 * Doc Blocks
 * --------------------------------------------------
 */

.doc-block {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    /* word breaking */
    
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.doc-block img {
    max-width: 100%;
}
.doc-block .block-head {
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
}
#thank-you {
    margin: 35px 0 30px;
    text-align: center;
    font-size: 110%
}
pre {
    margin: 15px 0;
    width: 100%;
}
pre:not(.full) {
    max-height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
pre > code {
    font-size: 12px;
}
.label {
    vertical-align: middle;
}
img.full-width {
    width: 100%;
}
/*
 * Sidebar
 * --------------------------------------------------
 */

#sidebar {
    position: absolute;
    width: 295px;
}
#sidebar.affix {
    position: fixed;
    top: 0;
    margin-top: 15px;
}
#sidebar .nav li:not(.active) a:hover {
    background-color: #f3f3f3;
}
/*
 * Browser Icons
 * --------------------------------------------------
 */

@font-face {
    font-family: 'browsers';
    src: url("fonts/browsers.eot?16428217");
    src: url("fonts/browsers.eot?16428217#iefix") format("embedded-opentype"), url("fonts/browsers.woff?16428217") format("woff"), url("fonts/browsers.ttf?16428217") format("truetype"), url("fonts/browsers.svg?16428217#browsers") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "browsers";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.icon-firefox:before {
    content: '\e800';
}
.icon-chrome:before {
    content: '\e801';
}
.icon-opera:before {
    content: '\e802';
}
.icon-ie:before {
    content: '\e803';
}
.icon-safari-2:before {
    content: '\e804';
}
.icon-safari:before {
    content: '\e805';
}
/*
 * Icons list
 * --------------------------------------------------
 */

.icons-list {
    max-height: 400px;
    overflow: auto;
    border: 1px solid #ddd;
    margin-bottom: 14px !important;
    padding-top: 10px;
}
.icons-list li {
    text-align: center;
}